body {
    margin: 0 auto;
    text-align: center;
    font-family: "fredoka";
    font-size: large;
}

header, footer {
    background-color: darkblue;
    color: white;
}

header, main, footer {
    margin: 0 auto;
    padding: 1rem;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: 250px;
    width: 250px;
    border: .6rem solid lightblue;
    /* I had to do some research for this effect here */
    filter: drop-shadow(.5rem .5rem .3rem black); 
}

button {
    background-color: darkblue;
    font-family: "fredoka";
    border: none;
    font-size: 2rem;
    color: white;
}

a:link, a:visited {
    color: white;
}

a {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.hide {
    display: none;
}

.viewer {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    border: none;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.viewer img {
    display: block;
    margin: 20vh auto;
    width: 80%;
    height: 60%;
    min-height: 60%;
}

.close-viewer {
    position: absolute;
    top: 20vh;
    right: 5vw;
    font-size: 2rem;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

@media (min-width: 700px) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu {
        display: none;
    }
}