* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  max-width: 1280px;
  margin: auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

.main-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.main-nav > li {
    flex: 0 1 5em;
    text-align: center;
}

.media-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.gallery > * {
  flex: 1 1 460px;
}

@media (min-width: 550px) {
    .media-card {
        flex-direction: row;
    }
      .media-card-image {
    flex: 0 1 250px;
    }
    .media-card-content {
        flex: 0 1 60ch;
    }
}